<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
  </head>

  <body>
  <div class = 'header'>
    <h1>My Blog</h1>
    <%= link_to 'Home', articles_url %>
  </div>
    <div class = 'content'>
      <%= yield %>
    </div>
    
    <div class=footer>
    <p>Proudly made in Yorkshire</p>
    </div>
  </body>
</html>
